@model PetApp.DataModels.Pet

@{
    ViewBag.Title = "PetDetail";
}
<div>
    <h1>@Model.Name</h1>


    <a class="btn btn-primary" href="/Adopt/@Model.Name">Adopt @Model.Name</a>

    @if (@Model.Type == PetApp.DataModels.PetType.Dog)
    {
        <a class="btn btn-primary" href="/Walk/@Model.Name">Walk @Model.Name</a>
    }
</div>
<br />
<img width="100%" src="@Model.Photo" />